html {
  position: relative;
  min-height: 100.1%;
}

body {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
}


/*Header: standard formatting*/

.navbar, .navbar-brand, .navbar-toggle, .navbar-collapse {
	height: 80px;
	line-height: 80px;
	padding: 0;
}

.navbar-brand {
	font-family: 'Sarina', cursive;
	font-size: 36px !important;
}

.navbar-right {
	margin-top: 1.2%;
}

.header {
	position: absolute;
	left: 0;
	top: 42%;
	text-align: center;
   	width: 100%;
   	margin: 0 auto;
	color: #FFFFFF;
	font-size: 14px;
}

		/*Header: media formatting*/

		/*Bootstrap xs tag has a max-width of 544px*/
		@media screen and (min-width: 544px) {
		    .navbar-brand {
				font-family: 'Sarina', cursive;
				font-size: 28px;
			}
			.header {
				position: absolute;
				left: 0;
				top: 42%;
				text-align: center;
			   	width: 100%;
			   	margin: 0 auto;
				color: #FFFFFF;
				font-size: 18px;
			}
		}


		/*Bootstrap md tag has a min-width of 768px*/
		@media screen and (min-width: 768px) {
		    .header {
				position: absolute;
				left: 0;
				top: 42%;
				text-align: center;
			   	width: 100%;
			   	margin: 0 auto;
				color: #FFFFFF;
				font-size: 24px;
			}
		}

/*Footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	line-height: 40px; /* Vertically center the text there */
	background-color: #f5f5f5;
	text-align: center;
	font-size: 12px;
}

/*Front page circles formatting*/

.circle {
	width: 360px;
	height: 360px;
	border-radius: 50%;
	line-height: 360px;

	border-color: #ffffff;
	border-width: 3px;
	border-style: solid;

	-webkit-box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
	-moz-box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
	box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
}

h2 {
  	position: relative;
  	top: 42%;
  	text-align: center;
	color: #FFFFFF;
	
 	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.circle:hover {
	width: 380px;
	height: 380px;
	border-radius: 50%;
	line-height: 380px;

	border-color: #ffffff;
	border-width: 3px;
	border-style: solid;

	text-decoration: none;
	margin: -10px;

	-webkit-box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
	-moz-box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
	box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
}

.vertical-center {
    min-height: 82%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 82vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

#editing {
	background-color: #FF7565;
}
#curating {
	background-color: #E85C71;
}
#writing {
	background-color: #FF72CE;
}

#main-page {
	background-color: rgba(249,249,249,0.6);
	border-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 15px;
}

#info {
	background-color: #7F7F7F;
}

/*Content Pages*/

.content-title {
	margin: 2.5% auto;
	height: 48px;
	opacity: 0.6;
	filter: alpha(opacity=60); /*For IE8 and earlier*/
}

.blurb {
	margin-bottom: 30px;
}

h1 {
	padding: 10px 16px;
	font-size: 24px;
	margin: 0;
	color: #FFFFFF;
}

h3 {
	font-size: 16px;
	margin: 0 0 12px 0;
	font-weight: bold;
}

.info-box {
	margin-top: 30px;
	margin-bottom: 20px;
	height: 300px;
	border-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
}

.info-image { 
    display:table-cell; 
    vertical-align:middle; 
    width: 60%;
    height: auto;
    margin: 0;
    position: relative;
    top: -30px;
    padding:0;   
    height:298px; 
    background-size:100%; 
    background-size: cover;
    background-position: center bottom;
}

.info-text { 
    display:table-cell; 
    vertical-align:middle; 
    padding:0 10px;
    width: 80%;
    position: relative;
    top: -30px;
}

.info-tag {
	width: 100%;
	height: 30px;
	font-size: 14px;
	background-color: #f5f5f5;
	position: relative;
	top: -30px;
	padding-top: 5px;
	border-radius: 5px 5px 0px 0px;
	font-weight: bolder;
	text-align: center;
	border-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
}

a, a:link, a:hover, a:visited, a:active {
	margin: 0 auto; /*keeps landing circles centre aligned*/
	text-decoration: none; /*keeps info boxes standard styling */
	color: #000000;
}

/*Info page */
th, td {
    padding-right: 15px;
    padding-bottom: 15px;
}

h3 {
	padding-top: 30px;
}