body {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}


/*Header: standard formatting*/

.navbar-brand {
	font-family: 'Sarina', cursive;
	font-size: 24px;
}

.header {
	position: absolute;
	left: 0;
	top: 42%;
	text-align: center;
   	width: 100%;
   	margin: 0 auto;
	color: #FFFFFF;
	font-size: 14px;
}

		/*Header: media formatting*/

		/*Bootstrap xs tag has a max-width of 544px*/
		@media screen and (min-width: 544px) {
		    .navbar-brand {
				font-family: 'Sarina', cursive;
				font-size: 28px;
			}
			.header {
				position: absolute;
				left: 0;
				top: 42%;
				text-align: center;
			   	width: 100%;
			   	margin: 0 auto;
				color: #FFFFFF;
				font-size: 18px;
			}
		}


		/*Bootstrap md tag has a min-width of 768px*/
		@media screen and (min-width: 768px) {
		    .header {
				position: absolute;
				left: 0;
				top: 42%;
				text-align: center;
			   	width: 100%;
			   	margin: 0 auto;
				color: #FFFFFF;
				font-size: 24px;
			}
		}

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	line-height: 40px; /* Vertically center the text there */
	background-color: #f5f5f5;
	text-align: center;
	font-size: 12px;
}

/*Front page circles formatting*/

.circle {
	width: 480px;
	height: 480px;
	border-radius: 50%;
	line-height: 480px;
}

h2 {
  	text-align: center;
	color: #FFFFFF;
	position: relative;
	top: 50%;
 	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

a:hover {
	text-decoration: none;
}

.circle:hover {
	text-decoration: none;
	font-weight: bold;
	width: 520px;
	height: 520px;
	border-radius: 50%;
	line-height: 520px;
}

.vertical-center {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

a {
	margin: 0 auto;
}

		@media screen and (max-width: 1600px) {
			.circle {
				width: 400px;
				height: 400px;
				border-radius: 50%;
				line-height: 400px;
			}
			.circle:hover {
				text-decoration: none;
				font-weight: bold;
				width: 440px;
				height: 440px;
				border-radius: 50%;
				line-height: 440px;
			}
		}

		@media screen and (max-width: 1200px) {
			.circle {
				width: 320px;
				height: 320px;
				border-radius: 50%;
				line-height: 320px;
			}
			.circle:hover {
				text-decoration: none;
				font-weight: bold;
				width: 360px;
				height: 360px;
				border-radius: 50%;
				line-height: 360px;
			}
		}

		@media screen and (max-width: 800px) {
			.circle {
				width: 240px;
				height: 240px;
				border-radius: 50%;
				line-height: 240px;
			}
			.circle:hover {
				text-decoration: none;
				font-weight: bold;
				width: 280px;
				height: 280px;
				border-radius: 50%;
				line-height: 280px;
			}
		}

#editing {
	background-color: #FF7565;
}
#curating {
	background-color: #E85C71;
}
#writing {
	background-color: #FF72CE;
}

/*Content Pages*/

.content-title {
	margin-bottom: 2.5%;
	height: 48px;
	opacity: 0.6;
	filter: alpha(opacity=60); /*For IE8 and earlier*/
}

h1 {
	padding: 10px 16px;
	font-size: 24px;
	margin: 0;
	color: #FFFFFF;
}

h3 {
	font-size: 16px;
	margin: 0 0 12px 0;
	font-weight: bold;
}

/* --------Images-------- [Total: 15]*/

/* 1. Curating*/
#curating_1 {
	background-image: url('images/curating_confusionoftongues.png');
	background-size: contain;
}

/*2. Criticism*/
#criticism_1 {
	background-image: url('images/criticism_marielund.jpg');
	background-size: contain;
}
#criticism_2 {
	background-image: url('images/criticism_callandresponse.jpg');
	background-size: contain;
}
#criticism_3 {
	background-image: url('images/criticism_edoerotica.jpg');
	background-size: contain;
}
#criticism_4 {
	background-image: url('images/criticism_getaway.jpg');
	background-size: contain;
}
#criticism_5 {
	background-image: url('images/criticism_hunt&darton.jpg');
	background-size: contain;
}

/*3. Essays*/
#essay_1 {
	background-image: url('images/essay_artintosociety.png');
	background-size: contain;
}

/*4. Interviews*/
#interview_1 {
	background-image: url('images/interview_christabel_balfour.jpg');
	background-size: contain;
}
#interview_2 {
	background-image: url('images/interview_changingspaces.jpg');
	background-size: contain;
}

/*5. Publications*/
#publication_1 {
	background-image: url('images/confusionoftongues.png');
	background-size: contain;
}
#publication_2 {
	background-image: url('images/publications_pembrokestreet_lent_2013.png');
	background-size: contain;
}
#publication_3 {
	background-image: url('images/publications_pembrokestreet_michaelmas_2013.png');
	background-size: contain;
}

/*6. Lists*/
#lists_1 {
	background-image: url('images/lists_henriksen_full_circle.jpg');
	background-size: contain;
}
#lists_2 {
	background-image: url('images/lists_derrymoore.jpg');
	background-size: contain;
}
#lists_3 {
	background-image: url('images/lists_williamhogarth.jpg');
	background-size: contain;
}

/*Info page */
th, td {
    padding-right: 15px;
    padding-bottom: 15px;
}

h3 {
	padding-top: 30px;
}