html {
	position: relative;
	overflow-y: scroll;
}

body {
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
}

/* ------------ HEADER ------------ */

.navbar-brand {
	font-family: 'Sarina', cursive;
	font-size: 36px !important;
}

.header {
	position: absolute;
	left: 0;
	top: 42%;
	text-align: center;
   	width: 100%;
   	margin: 0 auto;
	color: #FFFFFF;
	font-size: 14px;
}


.navbar, .navbar-brand, .navbar-toggle {
	padding: 0;
	height: 80px;
	line-height: 80px;
}

.navbar-right {
	margin-top: 15px;
}

.navbar-toggle {
    position: relative;
    width: 100%;
    border: none;
}

.glyphicon-th-list {
	font-size: 30px;
	padding: 0px !important;
	vertical-align: middle;
	opacity: 0.6;
	filter: alpha(opacity=60); /*For IE8 and earlier*/
}

	@media screen and (max-width: 768px) {
  		.navbar-collapse {
			background-color: #FFFFFF;
			border-bottom-color: #f5f5f5;
			border-bottom-width: 2px;
			border-bottom-style: solid;
		}

		.navbar-brand {
			font-size: 32px !important;
			padding-left: 12px;
		}
	}

	@media screen and (max-width: 450px) { /*bootstrap smartphone breakpoint*/
		.navbar-brand {
			font-size: 18px !important;
			padding-left: 12px;
		}

		button {
			width: 30px !important;
			height: 30px !important;
		}

		.navbar-toggle {
		    margin-top: 22px !important;
		    margin-right: 20px !important;
		}

		.glyphicon-th-list {
			font-size: 20px;
			margin-bottom: 57px;
		}
	}


/* ------------ FOOTER ------------ */

.footer, .footer-main {
    position: fixed;
    bottom: 0;

    width: 100%;
	height: 40px; /* Set the fixed height of the footer here */
	line-height: 40px; /* Vertically center the text there */

	background-color: #f5f5f5;
	text-align: center;
	font-size: 12px;
}

.scroll-prompt {
	display: none;
}

	@media screen and (max-width: 450px) { /*bootstrap smartphone breakpoint*/
		.footer {
			font-size: 7.6px;
			height: 30px; /* Set the fixed height of the footer here */
			line-height: 30px; 
		}

		.footer-main {
			font-size: 7.6px;
			line-height: 30px;
			height: 60px;
		}

		.scroll-prompt {
			display: block;
			background-color: #FFFFFF;
			line-height: 30px;
		}

		.glyphicon-chevron-down {
			opacity: 0.8;
		}
	}

/* ------------ LANDING PAGE (CIRCLES) ------------ */

h2 {
  	position: relative;
  	top: 42%;
  	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 3px;
	
 	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.circle {
	width: 360px;
	height: 360px;
	border-radius: 50%;
	line-height: 360px;

	border-color: #ffffff;
	border-width: 3px;
	border-style: solid;

	-webkit-box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
	-moz-box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
	box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
}

.circle:hover {
	width: 380px;
	height: 380px;
	border-radius: 50%;
	line-height: 380px;

	border-color: #ffffff;
	border-width: 3px;
	border-style: solid;

	text-decoration: none;
	margin: -10px;

	-webkit-box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
	-moz-box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
	box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
}

.vertical-center {
    min-height: 82%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 82vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

	@media screen and (max-width: 1200px) { /*bootstrap sm breakpoint*/
		.circle {
			width: 280px;
			height: 280px;
		}

		.circle:hover {
			width: 300px;
			height: 300px;
			margin: -10px;
		}
	}

	@media screen and (max-width: 992px) { /*bootstrap xs breakpoint*/
		.circle {
			width: 360px;
			height: 360px;
		}

		.circle:hover {
			width: 380px;
			height: 380px;
			margin: -10px;
		}
	}

	@media screen and (max-width: 450px) { /*bootstrap smartphone breakpoint*/
		.circle {
			width: 280px;
			height: 280px;
		}

		.circle:hover {
			width: 300px;
			height: 300px;
			margin: -10px;
		}
	}

/* Setting all the colours */

#main-page {
	background-color: rgba(249,249,249,0.6);
	border-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 20px;
}

#writing {
	background-color: #FF7565;
}

#curating {
	background-color: #E85C71;
}

#editing {
	background-color: #FF72CE;
}

/* ------------ CONTENT PAGES (EDITING, CURATING, WRITING) ------------ */

#content {
	margin-bottom: 40px;
}

.content-title {
	margin: 30px auto 15px auto;
	height: 48px;
	opacity: 0.6;
	filter: alpha(opacity=60); /*For IE8 and earlier*/
}

.blurb {
	margin-bottom: 30px;
	margin-top: 0px;
	padding-top: 0px;
}

h1 {
	padding: 10px 10px;
	font-size: 24px;
	margin: 0;
	color: #FFFFFF;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 0px !important;
	padding: 0px !important;
}

.info-box {
	margin-top: 30px;
	margin-bottom: 20px;
	height: 300px;
	border-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
}

.info-image { 
    display:table-cell; 
    vertical-align:middle; 
    width: 60%;
    height: auto;
    margin: 0;
    position: relative;
    top: -30px;
    padding:0;   
    height:298px; 
    background-size:100%; 
    background-size: cover;
    background-position: center bottom;
}

.info-text { 
    display:table-cell; 
    vertical-align:middle; 
    padding:0 10px;
    width: 80%;
    position: relative;
    top: -30px;
}

.info-tag {
	position: relative;
	top: -31px;

	width: 100%;
	height: 30px;
	padding-top: 5px;

	font-size: 14px;
	font-weight: bolder;
	text-align: center;
	background-color: #f5f5f5;
	
	outline-color: #f5f5f5;
	outline-width: 1px;
	outline-style: solid;
}

p {
	margin-top: 8px;
}

a, a:link, a:hover, a:visited, a:active {
	margin: 0 auto; /*keeps landing circles centre aligned*/
	text-decoration: none; /*keeps info boxes standard styling */
	color: #000000;
}

	@media screen and (max-width: 450px) { /*bootstrap smartphone breakpoint*/
		.info-box {
			height: 250px;
		}

		.info-image {
			height: 248px;
			width: 40%;
		}

		h3, h4 {
			font-size: 90%;
		}

		p {
			font-size: 80%;
			margin-bottom: -10px;
		}

		h1 {
			font-size: 90%;
		}

		.content-title {
			height: 90%;
		}

		.blurb {
			margin-top: 0;
		}
	}

/* ------------ INFO PAGE ------------ */

#info {
	margin-bottom: 8px;
	height: 35px;
	background-color: #7F7F7F;
}

#info h1 {
	font-size: 98%;
}

h3 {
	padding-top: 30px;
}

table {
	margin-bottom: 15px;
}

td {
	padding-top: 15px;
	padding-right: 15px;
	vertical-align: text-top;
}

.about-major {
	font-weight: bold;
}

.about-minor {
	margin-top: -5px !important;
}

/* Made the email an image so that it cannot be spammed */

img {
	height: 16px;
}

	@media screen and (max-width: 992px) { /*bootstrap xs breakpoint*/
	}

	@media screen and (max-width: 450px) { /*bootstrap smartphone breakpoint*/
		img {
			height: 12px;
		}
	}

.social {
	margin-top: 45px;
}

.fa {
	color: #FFFFFF;
}

.btn-instagram{
	color:#fff;
	background-color:#626262;
	border-color:#626262;
}
.btn-instagram:focus,.btn-instagram.focus{
	color:#fff;
	background-color:#626262;
	border-color:#626262;
}
.btn-instagram:hover{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-instagram:active:hover,.btn-instagram.active:hover,.open>.dropdown-toggle.btn-instagram:hover,.btn-instagram:active:focus,.btn-instagram.active:focus,.open>.dropdown-toggle.btn-instagram:focus,.btn-instagram:active.focus,.btn-instagram.active.focus,.open>.dropdown-toggle.btn-instagram.focus{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{
	background-image:none;
}
.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled.focus,.btn-instagram[disabled].focus,fieldset[disabled] .btn-instagram.focus{
	background-color:#777;
	border-color:#777;
}
.btn-instagram .badge{
	color:#777;
	background-color:#fff
}

.btn-linkedin{
	color:#fff;
	background-color:#626262;
	border-color:#626262;
}
.btn-linkedin:focus,.btn-linkedin.focus{
	color:#fff;
	background-color:#626262;
	border-color:#626262;
}
.btn-linkedin:hover{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-linkedin:active:hover,.btn-linkedin.active:hover,.open>.dropdown-toggle.btn-linkedin:hover,.btn-linkedin:active:focus,.btn-linkedin.active:focus,.open>.dropdown-toggle.btn-linkedin:focus,.btn-linkedin:active.focus,.btn-linkedin.active.focus,.open>.dropdown-toggle.btn-linkedin.focus{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{
	background-image:none;
}
.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled.focus,.btn-linkedin[disabled].focus,fieldset[disabled] .btn-linkedin.focus{
	background-color:#777;
	border-color:#777;
}
.btn-linkedin .badge{
	color:#777;
	background-color:#fff
}
.btn-twitter{
	color:#fff;
	background-color:#626262;
	border-color:#626262;
}
.btn-twitter:focus,.btn-twitter.focus{
	color:#fff;
	background-color:#626262;
	border-color:#626262;
}
.btn-twitter:hover{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-twitter:active:hover,.btn-twitter.active:hover,.open>.dropdown-toggle.btn-twitter:hover,.btn-twitter:active:focus,.btn-twitter.active:focus,.open>.dropdown-toggle.btn-twitter:focus,.btn-twitter:active.focus,.btn-twitter.active.focus,.open>.dropdown-toggle.btn-twitter.focus{
	color:#fff;
	background-color:#777;
	border-color:#777;
}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{
	background-image:none
}
.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled.focus,.btn-twitter[disabled].focus,fieldset[disabled] .btn-twitter.focus{
	background-color:#777;
	border-color:#777;
}
.btn-twitter .badge{
	color:#777;
	background-color:#fff
}