html {
  position: relative;
  min-height: 100.1%;
}

body {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
}

.container {
	padding-bottom: 50px;
}


/* ------------ HEADER ------------ */

.navbar-brand {
	font-family: 'Sarina', cursive;
	font-size: 36px !important;
}

.header {
	position: absolute;
	left: 0;
	top: 42%;
	text-align: center;
   	width: 100%;
   	margin: 0 auto;
	color: #FFFFFF;
	font-size: 14px;
}


.navbar, .navbar-brand, .navbar-toggle {
	padding: 0;
	height: 80px;
	line-height: 80px;
}

.navbar-right {
	margin-top: 15px;
}


button {
	width: 40px !important;
	height: 40px !important;
}

.navbar-toggle {
    position: relative;
    width: 100%;
    margin: 0 auto !important;
    margin-top: 22px !important;
    margin-right: 20px !important;
}

.glyphicon-th-list {
	font-size: 30px;
	padding: 0px !important;
	vertical-align: middle;
	margin-bottom: 48px;
	opacity: 0.6;
	filter: alpha(opacity=60); /*For IE8 and earlier*/
}

	@media screen and (max-width: 768px) {
		.navbar-collapse {
			background-color: #FFFFFF;
			border-bottom-color: #f5f5f5;
			border-bottom-width: 2px;
			border-bottom-style: solid;
		}

		.navbar-brand {
			font-size: 32px !important;
			padding-left: 12px;
		}
	}


/* ------------ FOOTER ------------ */

.footer {
    position: fixed;
    bottom: 0;

    width: 100%;
	height: 40px; /* Set the fixed height of the footer here */
	line-height: 40px; /* Vertically center the text there */

	background-color: #f5f5f5;
	text-align: center;
	font-size: 12px;
}

/* ------------ LANDING PAGE (CIRCLES) ------------ */

h2 {
  	position: relative;
  	top: 42%;
  	text-align: center;
	color: #FFFFFF;
	
 	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.circle {
	width: 360px;
	height: 360px;
	border-radius: 50%;
	line-height: 360px;

	border-color: #ffffff;
	border-width: 3px;
	border-style: solid;

	-webkit-box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
	-moz-box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
	box-shadow: 0px 10px 113px 10px rgba(140,140,140,0.5);
}

.circle:hover {
	width: 380px;
	height: 380px;
	border-radius: 50%;
	line-height: 380px;

	border-color: #ffffff;
	border-width: 3px;
	border-style: solid;

	text-decoration: none;
	margin: -10px;

	-webkit-box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
	-moz-box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
	box-shadow: 0px 10px 100px 10px rgba(140,140,140,0.5);
}

.vertical-center {
    min-height: 82%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 82vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.horizontal-line {
	background-color: #C865FF;
	width: 100%;
	height: 20px;
	position: absolute;
	top: 50%;
	z-index: 0;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity=50); /*For IE8 and earlier*/
}

	@media screen and (max-width: 1200px) { /*bootstrap sm breakpoint*/
		.circle {
			width: 280px;
			height: 280px;
		}

		.circle:hover {
			width: 300px;
			height: 300px;
			margin: -10px;
		}
	}

	@media screen and (max-width: 992px) { /*bootstrap xs breakpoint*/
		.circle {
			width: 360px;
			height: 360px;
		}

		.circle:hover {
			width: 380px;
			height: 380px;
			margin: -10px;
		}

		.horizontal-line {
			height: 100%;
			width: 20px;
			left: 48.35%;
			top: 0;
		}
	}


/* Setting all the colours */

#main-page {
	background-color: rgba(249,249,249,0.6);
	border-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 15px;
}

#editing {
	background-color: #FF7565;
}
#curating {
	background-color: #E85C71;
}
#writing {
	background-color: #FF72CE;
}

/* ------------ CONTENT PAGES (EDITING, CURATING, WRITING) ------------ */

.content-title {
	margin: 2.5% auto;
	height: 48px;
	opacity: 0.6;
	filter: alpha(opacity=60); /*For IE8 and earlier*/
}

.blurb {
	margin-bottom: 30px;
	margin-top: -20px;
}

h1 {
	padding: 10px 10px;
	font-size: 24px;
	margin: 0;
	color: #FFFFFF;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 0px !important;
}

.info-box {
	margin-top: 30px;
	margin-bottom: 20px;
	height: 300px;
	border-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
}

.info-image { 
    display:table-cell; 
    vertical-align:middle; 
    width: 60%;
    height: auto;
    margin: 0;
    position: relative;
    top: -30px;
    padding:0;   
    height:298px; 
    background-size:100%; 
    background-size: cover;
    background-position: center bottom;
}

.info-text { 
    display:table-cell; 
    vertical-align:middle; 
    padding:0 10px;
    width: 80%;
    position: relative;
    top: -30px;
}

.info-tag {
	position: relative;
	top: -31px;

	width: 100%;
	height: 30px;
	padding-top: 5px;

	font-size: 14px;
	font-weight: bolder;
	text-align: center;
	background-color: #f5f5f5;
	
	outline-color: #f5f5f5;
	outline-width: 1px;
	outline-style: solid;
}

a, a:link, a:hover, a:visited, a:active {
	margin: 0 auto; /*keeps landing circles centre aligned*/
	text-decoration: none; /*keeps info boxes standard styling */
	color: #000000;
}

p {
	margin-top: 8px;
}

/* ------------ INFO PAGE ------------ */

#info {
	margin-bottom: 8px;
	height: 35px;
	background-color: #7F7F7F;
}

#info h1 {
	font-size: 98%;
}

h3 {
	padding-top: 30px;
}

th, td {
    padding-right: 15px;
    padding-bottom: 15px;
}

/* Made the email an image so that it cannot be spammed */

img {
	height: 20px;
	margin-bottom: 1px;
}
