html, body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

section {
  margin-top: 30px;
}

.contact-links {
  margin: 20px 0;
}

.source {
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
}

p {
  margin-bottom:0.25em;
}

.top-section p {
  margin-bottom:.75em;
}


h1 {
  margin-bottom:.5em;
}